<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='signup.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='seo_analyzer.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='results.css') }}" />
    <title>SSA</title>
</head>

<body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="left">
            <a href="{{ url_for('views.home_page') }}">
                <div class="logo"></div>
            </a>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="{{ url_for('views.home_page') }}">Home</a></li>
                    <li><a href="{{ url_for('views.home_page') }}">History</a></li>
                    <li class="services">
                        <a href="{{ url_for('views.home_page') }}">Tools</a>
                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a href="{{ url_for('views.analyzer') }}">Seo Analyzer</a></li>
                            <li><a href="/">Web Crawler</a></li>
                            <li><a href="/">Word Counter</a></li>
                        </ul>
                    </li>
                </div>
            </ul>
        </div>
        <div class="right-menu menu">
            <ul class="nav-links">
            {% if user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('auth.login') }}">Signin</a></li>
                <li><a href="{{ url_for('auth.signup') }}">Signup</a></li>
            {% endif %}
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <div class="footer-bottom">
            <p>copyright &copy; <a href="#">Bug Slayers</a> </p>
            <div class="footer-menu">
                <p>Developers: </p>
                <ul class="f-menu">
                    <li><a href="">Aya</a></li>
                    <li><a href="">Abdullah</a></li>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>
