{% extends 'base.html' %}
{% block content %}
  <div class="ag-format-container">
    <div class="ag-tools_box">
      <div class="ag-tools_item">
        <a href="#" class="ag-tools-item_link">
          <div class="ag-tools-item_bg"></div>

          <div class="ag-tools-item_title">
            Seo Analyzer
          </div>

          <div class="ag-tools-item_status-box">
            Status:
            <span class="ag-tools-item_status">
              Avilable
            </span>
          </div>
        </a>
      </div>

      <div class="ag-tools_item">
        <a href="#" class="ag-tools-item_link">
          <div class="ag-tools-item_bg"></div>

          <div class="ag-tools-item_title">
            Web Crawler
          </div>

          <div class="ag-tools-item_status-box">
            Status:
            <span class="ag-tools-item_status">
              Soon
            </span>
          </div>
        </a>
      </div>

      <div class="ag-tools_item">
        <a href="#" class="ag-tools-item_link">
          <div class="ag-tools-item_bg"></div>

          <div class="ag-tools-item_title">
            Word Counter
          </div>

          <div class="ag-tools-item_status-box">
            Status:
            <span class="ag-tools-item_status">
              Soon
            </span>
          </div>
        </a>
      </div>
    </div>
  </div>
  {% endblock %}
