{% extends 'base.html' %}
{% block content %}

<h2>Results</h2>
<p>URL: <a href="{{ url_data.url }}"> {{ url_data.url }} </a></p>

<div class="group1">
    {% if url_data.title == 1 and (url_data.title_length >= 55 and url_data.title_length <= 70) %}
    <div class="card pass">
        <div class="card-details">
            <p class="text-title">Title check</p>
            <span> Passed</span>
            <p class="text-body">good job your page has a title and it is between 55 to 70 charaters</p>
        </div>
    </div>
    {% elif url_data.title == 1 and not (url_data.title_length >= 55 and url_data.title_length <= 70) %}
    <div class="card warning">
        <div class="card-details">
            <p class="text-title">Title check</p>
            <span> Warning </span>
            <p class="text-body">you title length should be between 55 to 70 charcters</p>
        </div>
    </div>
    {% else %}
        <div class="card error">
            <div class="card-details">
                <p class="text-title">Title check</p>
                <span> didn't Pass </span>
                <p class="text-body">your page should have a title and it should be between 55 to 70 charcters</p>
            </div>
        </div>
    {% endif %}

    {% if url_data.description == 1 %}
    <div class="card pass">
        <div class="card-details">
            <p class="text-title">Description Check</p>
            <span> Passed</span>
            <p class="text-body"> your page contains a meta description </p>
        </div>
    </div>
    {% else %}
    <div class="card error">
        <div class="card-details">
            <p class="text-title">Description Check</p>
            <span> didn't Pass </span>
            <p class="text-body"> your page doen't contain meta description </p>
        </div>
    </div>
    {% endif %}

    {% if url_data.h1 == 1 and url_data.h1_count == 1 %}
    <div class="card pass">
        <div class="card-details">
            <p class="text-title">H1 Tag Check</p>
            <span> Passed </span>
            <p class="text-body"> good job, your page contains only 1 h1 tag </p>
        </div>
    </div>
    {% elif url_data.h1 == 1 and url_data.h1_count > 1 %}
    <div class="card warning">
        <div class="card-details">
            <p class="text-title">H1 Tag Check</p>
            <span> Warning </span>
            <p class="text-body"> it's recommended for seo to have only 1 (h1) tag in your page </p>
        </div>
    </div>
    {% else %}
    <div class="card error">
        <div class="card-details">
            <p class="text-title">H1 Tag Check</p>
            <span> didn't Pass </span>
            <p class="text-body"> your page should contain 1 (h1) tag </p>
        </div>
    </div>
    {% endif %}
</div>

<div class="group2">
    {% if url_data.h_tags_order == 1 %}
    <div class="card pass">
        <div class="card-details">
            <p class="text-title">h Tags Check</p>
            <span>Passed</span>
            <p class="text-body"> the h tags are in correct order (h1, h2, h3..etc) </p>
        </div>
    </div>
    {% else %}
    <div class="card error">
        <div class="card-details">
            <p class="text-title">h Tags Check</p>
            <span> Not Passed</span>
            <p class="text-body"> your h tags shoud be orderd (h1, h2, h3..etc)</p>
        </div>
    </div>
    {% endif %}

    {% if url_data.img_alt == 1 %}
    <div class="card pass">
        <div class="card-details">
            <p class="text-title">Image Alt Check</p>
            <span>Passed</span>
            <p class="text-body">it's recommended to have alt tags for all the images</p>
        </div>
    </div>
    {% else %}
    <div class="card error">
        <div class="card-details">
            <p class="text-title">Image Alt Check</p>
            <span> Not Passed</span>
            <p class="text-body">it's recommended to have alt tags for all the images </p>
        </div>
    </div>
    {% endif %}

    <div class="card">
        <div class="card-details">
            <p class="text-title">Key Words</p>
            {% for key, value in url_data.keywords.items() %}
            {% if loop.index <= 5 %}
            <p class="text-body">{{ key }}: {{ value }}</p>
            {% endif %}
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}
